* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --brown-color: #171100;
    --font-heading: "Sen";
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;



}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;

}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);

    font-weight: 700;
    /* 117.241% */
    letter-spacing: -1.16px;
}

.heading.vl1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.vl2 {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.btn-brown {
    background: var(--brown-color);
    border-radius: 999px;
    padding: 17px 16px;
    color: #FFF;
    min-width: 118px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.btn-yellow {
    background: var(--primary-color);
    border-radius: 999px;
    padding: 17px 16px;
    color: #FFF;
    min-width: 118px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.btn-brown:hover, .btn-yellow:hover {
    opacity: 0.8;
    cursor: pointer;
}



.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==============header================ */
.header-fixed {
    background: #FFFCF4;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header-fixed .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    position: relative;
    padding: 0 21px;

    color: #171100;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.nav a:hover, .nav ul .active a {
    /* font-weight: 600;
     */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}


.nav li.active a::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: -6px;
}

.header-fixed .actions {
    margin-left: 49px;
}



.btn-sign-in {
    min-width: 144px;
}

/* ==============hero================ */

.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* Hero Left */
.hero .media-block {
    width: 48%;
    position: relative;

}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}



.hero-summary {
    position: absolute;
    background-color: #FFF;
    bottom: 48px;
    left: 300px;
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.hero-summary .label {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.hero-summary .title {
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    background-color: #FFF9E8;
    ;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
    ;
}

.hero .item+.item {
    margin-top: 22px;
}

.hero-summary .info {
    margin-left: 16px;

}

/* Hero right  */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}



.content-block .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.67%;
    margin-top: 22px;
    /* 166.667% */
}

.content-block .see-cour {
    border-radius: 32px;
    min-width: 180px;
    font-size: 18px;
    font-weight: 600;
    padding: 23px 33px;
    text-align: center;
}

.content-block .cta-group {
    display: flex;
    margin: 32px 0 48px 0;
    align-items: center;
}

.content-block .watch-video {
    border: none;
    background: #FFFCF4;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content-block .watch-video span {
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}

.content-block strong {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    /* 122.727% */
    padding: 0 8px 0 28px;
}

.content-block .stats {
    margin: 8px 0 0 -28px;
}

/* ==============popular================ */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top .desc {
    margin-top: 14px;
    width: 458px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;

}

.popular-top {
    display: flex;
    align-items: center;
}

.popular-top .contronls {
    margin-left: auto;
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;


}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #FFF;
    cursor: pointer;
}

.popular-bottom {
    margin-top: 35px;
}

.popular-bottom .list-items {
    display: flex;
    gap: 30px;


}

.popular-bottom .list-items .item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;

    background: #FFF;


}

.popular-bottom .item .img {
    border-radius: 12px 12px 0px 0px;

}

.popular-bottom .item .item-img {
    height: 278px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-bottom .item .info {
    padding: 16px 22px 22px;
}

.popular-bottom .item .row-heading {
    display: flex;
    justify-content: space-between;
}

.popular-bottom .row-heading .stats-start {
    display: flex;
    align-items: center;
}

.popular-bottom .item .heading a {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    padding-right: 6px;
    /* 166.667% */
}

.popular-bottom .item .quantity {
    color: #FEA31B;

    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 6px;

}

.popular-bottom .item .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    /* 185.714% */
}

.popular-bottom .item .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.popular-bottom .actions .stats {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ==============feedback================ */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}


.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;

}

.feedback-list {
    display: flex;
    overflow: hidden;

}

.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .info .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
    /* 141.667% */
}

.feedback-item .info .desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;

}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background-color: #FFB900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #FFF;

    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;

}

/* ==============features================ */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;

}

.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .images .lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.features .content .desc {
    color: #5F5B53;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.features .content .cta-btn {
    min-width: 137px;
    margin-top: 32px;
}

/* features-2  */

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* Blog  */

.blog {
    margin-top: 135px;
    padding-top: 95px;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin-top: 16px;
    color: #696262;
    font-size: 16px;
    line-height: 1.75;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .blog-list .item {
    flex-shrink: 0;
    background: #FFF;
    width: calc(33.33% - 20px);
    border: 16px;
}

.blog .blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);

}

.blog .blog-list .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.85;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #FFB900;
    border-radius: 50%;
    margin-right: 4px;
}

.blog .item .date::after {
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 0.5px;
    background: #E2DFDA;
    width: 160px;
    height: 1px;
    bottom: 0;
    left: 0;

}

.blog .item .title a {
    display: inline-block;
    margin-top: 12px;
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    /* 175% */
}

.blog .item .cta-btn {
    margin-top: 12px;
    min-width: 118px;
    font-size: 1.4rem;
}

.blog .item .cta-btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;

}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
    cursor: pointer;
}

.blog .dot.active {
    background: #FFB900;
    cursor: default;
}